<li class="clearfix">
	<span class="r-list-left">支付方式</span>
	<div class="r-list-right">
		<div class="clearfix">
			<label ng-class="{true:'selected'}[selected]"><input type="radio" ng-click="bank()" name="flag" />网上银行（推荐）</label>
			<label ng-class="{true:'selected'}[selected2]"><input type="radio" ng-click="easy()" name="flag" />快捷支付（推荐）</label>
			<label><input type="radio" ng-click="wechat()" name="flag" />微信（转账）</label>
		</div>
		<div class="bank-list" ng-if="bankOnline" style="display: none" ng-style="logBodStyle">
			<div class="bank-img clearfix" ng-model="bank.code">
				<div>确保已经在银行柜台开通了网上支付功能，为了方便您支付，Windows用户建议使用IE浏览器</div>
				<div ng-class="{true:'bimg bimg1',false:'bimg bimg13'}[select1]" ng-click="ysePay()"></div>
				<div ng-class="{true:'bimg bimg2',false:'bimg bimg14'}[select2]" ng-click="ucfPay()"></div>
				<div ng-class="{true:'bimg bimg3',false:'bimg bimg15'}[select3]" ng-click="allInPay()"></div>
				<div ng-class="{true:'bimg bimg4',false:'bimg bimg16'}[select4]" ng-click="unsPay()"></div>
				<div ng-class="{true:'bimg bimg5',false:'bimg bimg17'}[select5]" ng-click="goPay()"></div>
				<div ng-class="{true:'bimg bimg6',false:'bimg bimg18'}[select6]" ng-click="huichao()"></div>
				<div ng-class="{true:'bimg bimg7',false:'bimg bimg19'}[select7]" ng-click="yongyi()"></div>
				<div ng-class="{true:'bimg bimg8',false:'bimg bimg20'}[select8]" ng-click="yibao()"></div>
			</div>
		</div>
	</div>
</li>
<li class="recharge-btn" ng-show="recharge">
	<a class="btn-detail btn-orange" ng-click="bankPay(bank)">立即充值</a>
</li>
<li class="recharge-btn" ng-hide="recharge">
	<a class="btn-detail btn-orange" ng-click="easyPay(bank)">快捷充值</a>
</li>
