.bank-img .bimg {
	float: left;
	width: 180px;
	height: 55px;
	border: 1px solid #ddd;
	cursor: pointer;
	margin-right: 20px;
	margin-bottom: 20px;
}
.bank-img .bimg.bimg1 {
	background: url(../resources/images/payRount1.png);
	background-position: 3px 2px;
}
.bank-img .bimg.bimg2 {
	background: url(../resources/images/payRount2.png);
	background-position: 3px 2px;
}
.bank-img .bimg.bimg3 {
	background: url(../resources/images/payRount3.png);
	background-position: 3px 2px;
}
.bank-img .bimg.bimg4 {
	background: url(../resources/images/payRount4.png);
	background-position: 3px 2px;
}
.bank-img .bimg.bimg5 {
	background: url(../resources/images/payRount5.png);
	background-position: 3px 2px;
}
.bank-img .bimg.bimg6 {
	background: url(../resources/images/payRount6.png);
	background-position: 45px 10px;
	background-repeat: no-repeat;
}
.bank-img .bimg.bimg7 {
	background: url(../resources/images/payRount7.jpg);
	background-position: 4px 0px;
	background-repeat: no-repeat;
}
.bank-img .bimg.bimg8 {
	background: url(../resources/images/payRount8.jpg);
	background-position: 4px 0px;
	background-repeat: no-repeat;
}
.bank-img .bimg.bimg9 {
	background: url(../resources/images/payRount9.jpg);
	background-position: 4px 0px;
	background-repeat: no-repeat;
}

.bank-img .bimg.bimg13 {
	background: url(../resources/images/payRount1.png);
	border: 1px solid #000;
	background-position: 3px 2px;
}
.bank-img .bimg.bimg14 {
	background: url(../resources/images/payRount2.png);
	border: 1px solid #000;
	background-position: 3px 2px;
}
.bank-img .bimg.bimg15 {
	background: url(../resources/images/payRount3.png);
	border: 1px solid #000;
	background-position: 3px 2px;
}
.bank-img .bimg.bimg16 {
	background: url(../resources/images/payRount4.png);
	border: 1px solid #000;
	background-position: 3px 2px;
}
.bank-img .bimg.bimg17 {
	background: url(../resources/images/payRount5.png);
	border: 1px solid #000;
	background-position: 3px 2px;
}
.bank-img .bimg.bimg18 {
	background: url(../resources/images/payRount6.png);
	border: 1px solid #000;
	background-position: 45px 10px;
	background-repeat: no-repeat;
}
.bank-img .bimg.bimg19 {
	background: url(../resources/images/payRount7.jpg);
	border: 1px solid #000;
	background-position: 4px 0px;
	background-repeat: no-repeat;
}
.bank-img .bimg.bimg20 {
	background: url(../resources/images/payRount8.jpg);
	border: 1px solid #000;
	background-position: 4px 0px;
	background-repeat: no-repeat;
}
.bank-img .bimg.bimg90 {
	background: url(../resources/images/payRount9.jpg);
	border: 1px solid #000;
	background-position: 4px 0px;
	background-repeat: no-repeat;
}
